.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  
  max-height: 16vh;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  width: 90vw;
  z-index: 400;
}
.container-air-data {
  background-color: var(--primary-500);
  border-radius: 16px;
  display: flex;
  width: 100%;
  flex-direction: row;  
}

.air-data-station {
  display: flex;
}

.air-station-name {
  border: 1px red solid;
}

.container-logo {
  display: flex;
  width: 100%;
}

.container-logo img {
  max-width: 100%;
}
