.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  width: 100vw;
  z-index: 400;
}
.container-air-data {
  background-color: rgba(0, 81, 66, 0.4);
  border-radius: 16px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 30%;
}

.air-data-station {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-items: center;
}

.air-station-name {
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Rubik";
  font-size: 14px;
}

.air-value {
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(56, 56, 56, 0.7);
  border: 2px solid var(--shades-0);
  display: flex;
  font-family: "Rubik";
  font-size: 10px;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.air-warnings {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 6px;
}

.air-warnings-title {
  text-align: center;
}

.air-warning-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
}

.container-logo {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: flex-end;
}

.container-logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-height: 16vh;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 90vw;
    z-index: 400;
  }
  .container-logo {
    width: 100%;
  }
  .container-air-data {
    width: 100%;
  }
}