@media (max-width: 600px) {
  .header-app {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
  }
}

.header-app {
  display:flex;
  max-height: 20vh;
}

body {
  scroll-behavior: initial;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
