.right-buttons-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 800;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: hue-rotate(45deg) brightness(95%) contrast(90%);
}

  

.light-mode {
  display: none;
}
